<!DOCTYPE html>
<html>
<head>
  <title>EventPublisher</title>
  <%= stylesheet_link_tag    "event_publisher/application", :media => "all" %>
  <%= javascript_include_tag "event_publisher/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
